.modal-dialog {
    max-height: 90vh; 
    overflow-y: auto; 
  }
  
  .modal-content {
    height: 100% ;
  }

  .form-label{
    display: inline-block;

    vertical-align: middle;
    margin-right: 10px;
  }

  .form-control {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box; 
}

#taskTitle, #dueDate{
  background-color: #E6F4FF; 
}

.modal-content {
  background-color: var(--light-blue-color); 
  border-radius: 10px;
  border: none;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.modal-header {
  background-color: var(--light-blue-color);; 
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-title {
  color: #444444;
}

.modal-body {
  background-color: #C7E6FF 
}

.modal-footer {
  background-color:  #D9EEFF; 
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Form Elements */
.form-label {
  color: #444444; 
}

.form-control, .form-select {
  background-color: #E6F4FF; 
  border: 1px solid #F2FAFF; 
  color: #444444;
  border-radius: 5px;
}

/* Buttons */
.btn-modal{
  margin: 20px;
}

.btn-close {
  color: #444444; 
}

.btn-primary {
  background-color: #8bb8fc; 
  border: none;
  color: #ffffff;
}

.btn-secondary {
  background-color: #a7a8a8; /* Light pastel turquoise */
  border: none;
  color: #ffffff;
}

.btn-danger {
  background-color: #f78686; /* Light pastel red */
  border: none;
  color: #ffffff;
}

/* Error Messages */
.error {
  color: #ff6f61; 
}

/* WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 5px;  /* Width of the scrollbar */
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;  /* Background of the track */
  border-radius: 10px;  /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background: #888;  /* Color of the thumb */
  border-radius: 10px;  /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;  /* Color of the thumb on hover */
}